<%- include('partials/header.ejs'); -%>
<div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="text-end">
        <a type="button" class="btn btn-primary" href="/books/new">Add Book</a>
      </div>
    </div>
</div>


<div class="container justify-content-center d-flex flex-wrap">

 <% books.forEach(book => { %>
  <div class="w-25 mx-3 my-2 border mw-25" style="min-width: 250px;">
    <div class="p-3 text-center">
      <h1 class="display-6 fw-bold text-body-emphasis"> <%= book.title %> </h1>
      <p><em><%= book.author %></em></p>
      <p class="lead mb-4"><%= book.summary %></p>
      <div>
        <p class="border">Score <%= book.score %></p>
        <% if (book.readdate) { %>
          <p ><small>Read at <%= book.readdate.toISOString().split("T")[0] %></small></p>
        <% }else{ %>
          <p ><small>Not read date %></small></p>
          <% } %>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form action="/books/edit" method="post" style="width: 10rem;">
          <button value="<%= book.id %>" name="book" type="submit" class="btn btn-primary px-4 gap-3 " >Edit</button>
        </form>
        <form action="/books/delete" method="post" style="width: 10rem;">
          <button value="<%= book.id %>" name="book" type="submit" class="btn btn-primary px-4 gap-3 " onclick="return confirm('Are you sure?')" >
          Delete
          </button>
        </form>
        
      </div>
    </div>
  </div>
 <% }) %>

  
</div>


<%- include('partials/footer.ejs'); -%>